certifi==2023.7.22
charset-normalizer==3.3.0
docopt==0.6.2
idna==3.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1694920094885/work/dist/numpy-1.26.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=6909902123b8421906e90ad77fb0041d9eb2d95bbdc29f3d09c7d244b0e0e5a5
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1696030215465/work
pipreqs==0.4.13
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1693865766170/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
requests==2.31.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sodapy==2.2.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
urllib3==2.0.5
yarg==0.1.9
